PORT=3001

# Mainnet config (production)
NETWORK=mainnet
CONTRACT_DEPLOYER=SP2V6TCRFTYQHP8F4D9HSFZHRQNGVBQEZR0TMSM79

# Testnet config (development / dev preview only)
# NETWORK=testnet
# CONTRACT_DEPLOYER=ST1D7YBYFW44KJE8VAAN2ACX23BCX3FDV5YQRX3RB
